### Git ###
*.orig

### Java ###
*.jar

### Apache Maven ###
target/

### Eclipse ###
.project
.classpath
.apt_generated
.factorypath
.settings
.springBeans
.dbeaver

### IntelliJ ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Jasper Reports ###
*.jasper

### VIM ###
*~
*.swp
*.swo

### General ###
*.log
*.lock*
*.DS_Store
